<!-- Info -->
<p>
    <strong>Свидетельство о государственной регистрации юр. лица</strong><br>
    <a href="#" target="_blank">Серия 78 №008758971 от 10.01.2013</a>
</p>
<p>
    <strong>Регистрирующий орган</strong><br>
    <a href="#" target="_blank">МИФНС России №15 по г.Санкт-Петербург</a>
</p>
<p>
    <strong>Членство в саморегулируемой организации</strong><br>
    <a href="#" target="_blank">Свидетельство №СРО-0010-УК-2011-7805458533</a><br>
    <a href="#" target="_blank">Свидетельство №0075.02-2011-7805458533-С-052</a>
</p>
<p>
    <strong>Учредительные документы</strong><br>
    <a href="#" target="_blank">Свидетельство ОГРН</a><br>
    <a href="#" target="_blank">Свидетельство ИНН/КПП</a><br>
    <a href="#" target="_blank">Устав</a><br>
    <a href="#" target="_blank">Лицензия</a><br>
</p>
<!-- Button -->
<button class="btn btn-primary" data-toggle="modal" data-target="#org_details">
    Реквизиты организации <span class="glyphicon glyphicon-briefcase"></span>
</button>
<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="org_details" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Item -->
                <p>
                    <strong>Краткое наименование юридического лица</strong><br>
                    ООО "ЖКС №2 Кировского района"
                </p>
                <!-- Item -->
                <p>
                    <strong>Полное наименование юридического лица</strong><br>
                    Общество с ограниченной ответственностью "Жилкомсервис №2 Кировского района"
                </p>
                <!-- Item -->
                <p>
                    <strong>Юридический адрес</strong><br>
                    198095, г. Санкт-Петербург, Зои Космодемьянской ул., д.13, лит.А
                </p>
                <!-- Item -->
                <p>
                    <strong>Фактический адрес</strong><br>
                    198095, г. Санкт-Петербург, Зои Космодемьянской ул., д.13, лит.А
                </p>
                <!-- Item -->
                <p>
                    <strong>ОГРН</strong><br>
                    1089847141218
                </p>
                <!-- Item -->
                <p>
                    <strong>ИНН</strong><br>
                    7805458533
                </p>
                <!-- Item -->
                <p>
                    <strong>КПП</strong><br>
                    780501001
                </p>
                <!-- Item -->
                <p>
                    <strong>ОКПО</strong><br>
                    74808321
                </p>
                <!-- Item -->
                <p>
                    <strong>ОКВЭД</strong><br>
                    68.32.1
                </p>
                <!-- Item -->
                <p>
                    <strong>Наименование банка</strong><br>
                    Нарвское отделение ПАО "Банк Санкт-Петербург"
                </p>
                <!-- Item -->
                <p>
                    <strong>БИК</strong><br>
                    044030790
                </p>
                <!-- Item -->
                <p>
                    <strong>Расчетный счет</strong><br>
                    40702810645000001875
                </p>
                <!-- Item -->
                <p>
                    <strong>Корреспондентский счет</strong><br>
                    30101810900000000790
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>