<!-- Table -->
<table class="table table-hover" id="table_2016">
    <caption>2016</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Документ</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @files }}" key="{{ @key }}" value="{{ @value }}">
            <tr>
                <td>{{ @key+1 }}</td>
                <td><a href="{{ '/doc/' . @value . '.pdf' }}">{{ @value }}</a></td>
                <td>Нарушения устранены</td>
            </tr>
        </repeat>
    </tbody>
</table>