<!-- Note -->
<div class="alert alert-info" role="alert">
    <p>Данные взяты с сайта ФГБУ «Северо-Западное УГМС»</p>
    <p><a href="http://tarifspb.ru/documents/acts/" target="_blank"><span class="glyphicon glyphicon-link"></span> http://www.meteo.nw.ru/</a></p>
</div>

<repeat group="{{ @data }}" key="{{ @season }}" value="{{ @season_data }}">
    <!-- Table -->
    <table class="table table-hover">
        <caption>{{ @season }}</caption>
        <tbody>
            <repeat group="{{ @season_data }}" key="{{ @key }}" value="{{ @value }}">
                <tr>
                    <td>{{ @key }}</td>
                    <td class="col-sm-1">{{ @value }}</td>
                </tr>
            </repeat>
        </tbody>
    </table>
</repeat>