<!-- Item -->
<h4>Основной офис<br>
<small class="text-muted">Зои Космодемьянской ул., д.13, лит. А</small></h4>
<p>
    Телефон: 708-93-30<br>
    Факс: 708-92-20<br>
    email: gks2kir @ yandex.ru
</p>

<!-- Item -->
<h4>Прием заявок / аварийно-диспетчерская служба<br>
<small class="text-muted">Трамвайный пр., д.11, к.5, лит. А</small></h4>
<p>Телефон: 708-91-10</p>

<!-- Item -->
<h4>Бухгалтерия квартирной группы<br>
<small class="text-muted">Зои Космодемьянской ул., д.13, лит.А</small></h4>
<p>Телефон: 645-60-51</p>

<!-- Item -->
<h4>Бухгалтерия квартирной группы<br>
<small class="text-muted">Маршала Говорова ул., д.3/7, лит.А</small></h4>
<p>Телефон: 645-60-52</p>

<!-- Item -->
<h4>Бухгалтерия квартирной группы<br>
<small class="text-muted">Маршала Казакова ул., д.1, к.1, лит.А</small></h4>
<p>Телефон: 645-60-53</p>