<repeat group="{{ @data }}" value="{{ @item }}">

    <!-- Item -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{{ @item['name'] }}<br>
            <small class="text-muted">{{ @item['location'] }}</small></h4>   
            <p>
                {{ implode('<br>', @item['contact_information']) }}
            </p>

            <check if="{{ @item['working_hours'] }}">
                <div class="dropdown">
                    <a href="#" class="btn-link dropdown-toggle" data-toggle="dropdown">Режим работы</a>
                    <div class="dropdown-menu dropdown-text">
                        {{ implode('<br>', @item['working_hours']) }}
                    </div>
                </div>
            </check>

            <check if="{{ @item['visiting_hours'] }}">
                <div class="dropdown">
                    <a href="#" class="btn-link dropdown-toggle" data-toggle="dropdown">Часы приема</a>
                    <div class="dropdown-menu dropdown-text">
                        {{ implode('<br>', @item['visiting_hours']) }}
                    </div>
                </div>
            </check>

        </div>
    </div>

</repeat>