<!-- Item -->
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Основной офис<br>
        <small class="text-muted">Зои Космодемьянской ул., д.13, лит. А</small></h4>   
        <p>
            Телефон: 708-93-30<br>
            Факс: 708-92-20<br>
            email: gks2kir @ yandex.ru
        </p>

        <div class="dropdown">
            <a href="#" class="btn-link dropdown-toggle" data-toggle="dropdown">Режим работы</a>
            <div class="dropdown-menu dropdown-text">
                    пн - чт: 09:00-18:00, обед 13:00-14:00<br>
                    пт: 09:00-16:45, обед 13:00-14:00<br>
                    сб - выходной<br>
                    вс - выходной
            </div>
        </div>

        
        <p>
            <strong>Часы приема</strong><br>
            Генеральный директор<br>
            пн: 17:00-19:00<br>
            чт: 10:00-12:00<br>
            Заместитель генерального директора (главный инженер)<br>
            вт: 10:00-12:00<br>
            ср: 17:00-19:00<br>
            Заместитель генерального директора по санитарному содержанию и благоустройству<br>
            вт: 10:00-12:00<br>
            ср: 17:00-19:00
        </p>
    </div>
</div>

<!-- Item -->
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Прием заявок / аварийно-диспетчерская служба<br>
        <small class="text-muted">Трамвайный пр., д.11, к.5, лит. А</small></h4>
        <p>Телефон: 708-91-10</p>
        <p>
            <strong>Режим работы</strong><br>
            Круглосуточно
        </p>
    </div>
</div>

<!-- Item -->
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Бухгалтерия квартирной группы<br>
        <small class="text-muted">Зои Космодемьянской ул., д.13, лит.А</small></h4>
        <p>Телефон: 645-60-51</p>
        <p>
            <strong>Часы приема</strong><br>
            пн: 16:00-19:00<br>
            вт: 09:00-12:00<br>
            ср: 16:00-19:00<br>
            чт: 16:00-19:00<br>
            пт: 09:00-12:00<br>
            Суббота - выходной<br>
            Воскресенье - выходной
        </p>
    </div>
</div>

<!-- Item -->
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Бухгалтерия квартирной группы<br>
        <small class="text-muted">Маршала Говорова ул., д.3/7, лит.А</small></h4>
        <p>Телефон: 645-60-52</p>
        <p>
            <strong>Часы приема</strong><br>
            пн: 16:00-19:00<br>
            вт: 09:00-12:00<br>
            ср: 16:00-19:00<br>
            чт: 16:00-19:00<br>
            пт: 09:00-12:00<br>
            Суббота - выходной<br>
            Воскресенье - выходной
        </p>
    </div>
</div>

<!-- Item -->
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Бухгалтерия квартирной группы<br>
        <small class="text-muted">Маршала Казакова ул., д.1, к.1, лит.А</small></h4>
        <p>Телефон: 645-60-53</p>
        <p>
            <strong>Часы приема</strong><br>
            пн: 16:00-19:00<br>
            вт: 09:00-12:00<br>
            ср: 16:00-19:00<br>
            чт: 16:00-19:00<br>
            пт: 09:00-12:00<br>
            Суббота - выходной<br>
            Воскресенье - выходной
        </p>
    </div>
</div>

<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="reception_hours">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <strong>Генеральный директор</strong><br>
                    Понедельник 17:00-19:00<br>
                    Четверг 10:00-12:00
                </p>
                <p>
                    <strong>Заместитель генерального директора (главный инженер)</strong><br>
                    Вторник 10:00-12:00<br>
                    Среда 17:00-19:00
                </p>
                <p>
                    <strong>Заместитель генерального директора по санитарному содержанию и благоустройству</strong><br>
                    Вторник 10:00-12:00<br>
                    Среда 17:00-19:00
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>