<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Наименование мероприятия</th>
                <th>Цель мероприятия</th>
                <th>Применяемые технологии, оборудование и материалы</th>
                <th>Возможные исполнители мероприятий</th>
                <th>Источник финанси -рования</th>
                <th>Характер эксплуатации после реализации мероприятия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">I. Перечень основных мероприятий в отношении общего имущества в многоквартирном доме</td>
            </tr>
            <tr>
                <td colspan="7">Система отопления</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Установка линейных балансировочных вентилей и балансировка системы отопления</td>
                <td>1) Рациональное использование тепловой энергии;<br> 2) Экономия потребления тепловой энергии в системе отопления</td>
                <td>Балансировочные вентили, запорные вентили, воздухо-выпускные клапаны</td>
                <td>Управляющая организация</td>
                <td>плата за содержание и ремонт жилого помещения</td>
                <td>Периодическая регулировка, ремонт</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Промывка трубопроводов и
                    стояков системы отопления
                </td>
                <td>1) Рациональное использование тепловой энергии;<br>
                    2) Экономия потребления
                    тепловой энергии в системе отопления
                </td>
                <td>Промывочные
                    машины и реагенты
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Ремонт изоляции
                    трубопроводов
                    системы отопления в
                    подвальных помещениях с применением
                    энергоэффектив-
                    ных материалов
                </td>
                <td>1) Рациональное использование тепловой энергии;<br>
                    2) Экономия потребления тепловой энергии в системе отопления
                </td>
                <td>Современные
                    теплоизоляционные
                    материалы в виде
                    скорлуп и
                    цилиндров
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Установка коллективного
                    (общедомового) прибора учета тепловой энергии
                </td>
                <td>Учет тепловой энергии,
                    потребленной в многоквартирном доме
                </td>
                <td>Прибор учета
                    тепловой энергии,
                    внесенный в государственный реестр средств измерений
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    поверка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система горячего водоснабжения
                </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Ремонт изоляции
                    теплообменников
                    и трубопроводов
                    системы ГВС в
                    подвальных
                    помещениях с
                    применением
                    энергоэффектив-
                    ных материалов
                </td>
                <td>1) Рациональное использование тепловой энергии;<br>
                    2) Экономия потребления тепловой энергии и воды в системе ГВС
                </td>
                <td>Современные
                    теплоизоляционные
                    материалы в виде
                    скорлуп и
                    цилиндров
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Установка
                    коллективного
                    (общедомового)
                    прибора учета
                    горячей воды
                </td>
                <td>Учет горячей воды, потребленной в
                    многоквартирном доме
                </td>
                <td>Прибор учета
                    горячей воды,
                    внесенный в
                    государственный
                    реестр средств измерений
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    поверка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>7.</td>
                <td>Установка
                    индивидуального
                    прибора учета
                    горячей воды
                </td>
                <td>Учет горячей воды, потребленной в жилом или нежилом помещении
                    в многоквартирном доме
                </td>
                <td>Прибор учета
                    горячей воды,
                    внесенный в
                    государственный
                    реестр средств измерений
                </td>
                <td>Специализиро-
                    ванная
                    организация
                </td>
                <td>плата по
                    гражданско-
                    правовому
                    договору
                </td>
                <td>Периодический
                    осмотр,
                    поверка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система электроснабжения
                </td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Замена ламп накаливания в местах общего пользования на
                    энергоэффективные лампы
                </td>
                <td>1) Экономия электроэнергии;<br>
                    2) Улучшение качества освещения
                </td>
                <td>Люминесцентные лампы,
                    светодиодные лампы
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    протирка
                </td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Установка коллективного (общедомового) прибора учета электрической энергии</td>
                <td>Учет электрической энергии, потребленной в многоквартирном доме</td>
                <td>Прибор учета
                    электрической
                    энергии, внесенный
                    в государственный
                    реестр средств измерений
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    поверка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Установка
                    индивидуального
                    прибора учета
                    электрической энергии
                </td>
                <td>Учет электрической энергии, потребленной в жилом или нежилом помещении в многоквартирном доме</td>
                <td>Прибор учета электрической энергии, внесенный в государственный реестр средств измерений</td>
                <td>Специализиро-
                    ванная
                    организация
                </td>
                <td>плата по
                    гражданско-
                    правовому
                    договору
                </td>
                <td>Периодический
                    осмотр,
                    поверка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Дверные и оконные конструкции
                </td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Заделка, уплотнение и
                    утепление дверных блоков на входе в
                    подъезды и обеспечение автоматического закрывания дверей
                </td>
                <td>1) Снижение утечек тепла через двери подъездов;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Усиление безопасности жителей
                </td>
                <td>Двери с теплоизоляцией,
                    прокладки,
                    полиуретановая пена,
                    автоматические дверные доводчики и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>12.</td>
                <td>Установка дверей и
                    заслонок в проемах
                    подвальных помещений
                </td>
                <td>1) Снижение утечек тепла через подвальные проемы;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Двери, дверки и заслонки с теплоизоляцией</td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>13.</td>
                <td>Установка дверей и заслонок в проемах
                    чердачных помещений
                </td>
                <td>1) Снижение утечек тепла через проемы чердаков;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Двери, дверки и заслонки с теплоизоляцией, воздушные заслонки</td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>14.</td>
                <td>Заделка и уплотнение
                    оконных блоков в подъездах
                </td>
                <td>1) Снижение инфильтрации через
                    оконные блоки;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Прокладки,
                    полиуретановая
                    пена и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    II. Перечень дополнительных мероприятий в отношении общего имущества в многоквартирном доме
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система отопления
                </td>
            </tr>
            <tr>
                <td>15.</td>
                <td>Модернизация ИТП с
                    установкой и настройкой аппаратуры автоматического управления параметрами воды в системе отопления в зависимости от температуры наружного воздуха
                </td>
                <td>1) Автоматическое регулирование
                    параметров в системе отопления;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Экономия потребления тепловой энергии в системе отопления
                </td>
                <td>Оборудование для автоматического регулирования расхода, температуры и давления воды в системе отопления, в том числе насосы, контроллеры, регулирующие клапаны с приводом, датчики температуры воды и температуры наружного воздуха и др.</td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическое
                    техническое
                    обслуживание
                    оборудования,
                    настройка
                    автоматики,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>16.</td>
                <td>Модернизация ИТП с установкой теплообменника отопления и аппаратуры управления отоплением</td>
                <td>1) Обеспечение качества воды в системе отопления;<br>
                    2) Автоматическое регулирование
                    параметров воды в системе отопления;<br>
                    3) Продление срока службы оборудования и трубопроводов системы отопления;<br>
                    4) Рациональное использование тепловой энергии;<br>
                    5) Экономия потребления тепловой энергии в системе отопления
                </td>
                <td>Пластинчатый теплообменник отопления и
                    оборудование для автоматического регулирования расхода, температуры и давления в системе отопления, в том числе насосы, контроллеры,
                    регулирующие клапаны с приводом, датчики температуры воды и температуры наружного воздуха и др.
                </td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическое
                    техническое
                    обслуживание
                    оборудования,
                    настройка
                    автоматики,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>17.</td>
                <td>Модернизация трубопроводов и арматуры системы отопления</td>
                <td>1) Увеличение срока эксплуатации
                    трубопроводов;<br>
                    2) Снижение утечек воды;<br>
                    3) Снижение числа аварий;<br>
                    4) Рациональное использование тепловой энергии;<br>
                    5) Экономия потребления тепловой энергии в системе отопления
                </td>
                <td>Современные
                    предизолированные
                    трубопроводы,
                    арматура
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>18.</td>
                <td>Установка термостатических вентилей на радиаторах</td>
                <td>1) Повышение температурного комфорта в помещениях;<br>
                    2) Экономия тепловой энергии в системе отопления
                </td>
                <td>Термостатические радиаторные вентили</td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическая
                    регулировка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>19.</td>
                <td>Установка запорных вентилей на радиаторах</td>
                <td>1) Поддержание температурного режима впомещениях (устранение переторов);<br>
                    2) Экономия тепловой энергии в системе отопления;<br>
                    3) Упрочение эксплуатации радиаторов
                </td>
                <td>Шаровые запорные
                    радиаторные
                    вентили
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическая
                    регулировка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>20.</td>
                <td>Установка тепловых насосов для системы отопления и кондиционирования</td>
                <td>Экономия тепловой энергии</td>
                <td>Тепловые насосы
                    для системы
                    отопления и
                    кондиционирования
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    настройка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система горячего водоснабжения
                </td>
            </tr>
            <tr>
                <td>21.</td>
                <td>Обеспечение
                    рециркуляции
                    воды в системе
                    ГВС
                </td>
                <td>1) Рациональное
                    использование тепловой
                    энергии и воды;<br>
                    2) Экономия потребления
                    тепловой энергии и воды
                    в системе ГВС
                </td>
                <td>Циркуляционный
                    насос, автоматика,
                    трубопроводы
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическое
                    техническое
                    обслуживание
                    оборудования,
                    настройка
                    автоматики,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>22.</td>
                <td>Модернизация ИТП с
                    установкой и настройкой аппаратуры
                    автоматического управления параметрами воды в системе ГВС
                </td>
                <td>1) Автоматическое регулирование
                    параметров в системе ГВС;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Экономия потребления тепловой энергии и воды в системе ГВС
                </td>
                <td>Оборудование для автоматического регулирования температуры в системе ГВС, включая контроллер, регулирующий клапан с приводом, датчик температуры горячей воды и др.</td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическое
                    техническое
                    обслуживание
                    оборудования,
                    настройка
                    автоматики,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>23.</td>
                <td>Модернизация
                    ИТП с заменой
                    теплообменника
                    ГВС и
                    установкой
                    аппаратуры
                    управления ГВС
                </td>
                <td>1) Автоматическое регулирование
                    параметров в системе ГВС;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Экономия потребления тепловой энергии и воды в системе ГВС;<br>
                    4) Улучшение условий эксплуатации и снижение аварийности
                </td>
                <td>Пластинчатый теплообменник ГВС и оборудование для автоматического регулирования температуры в системе ГВС, включая контроллер,
                    регулирующий клапан с приводом, датчик температуры горячей воды и др.
                </td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодическое
                    техническое
                    обслуживание
                    оборудования,
                    настройка
                    автоматики,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>24.</td>
                <td>Модернизация
                    трубопроводов и
                    арматуры
                    системы ГВС
                </td>
                <td>1) Увеличение срока эксплуатации
                    трубопроводов;<br>
                    2) Снижение утечек воды;<br>
                    3) Снижение числа аварий;<br>
                    4) Рациональное использование тепловой энергии и воды;<br>
                    5) Экономия потребления тепловой энергии и воды в системе ГВС
                </td>
                <td>Современные
                    пластиковые
                    трубопроводы,
                    арматура
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система холодного водоснабжения
                </td>
            </tr>
            <tr>
                <td>25.</td>
                <td>Модернизация
                    трубопроводов и
                    арматуры
                    системы ХВС
                </td>
                <td>1) Увеличение срока эксплуатации трубопроводов;<br>
                    2) Снижение утечек воды;<br>
                    3) Снижение числа аварий;<br>
                    4) Рациональное использование воды;<br>
                    5) Экономия потребления воды в системе ХВС
                </td>
                <td>Современные
                    пластиковые
                    трубопроводы,
                    арматура
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система электроснабжения
                </td>
            </tr>
            <tr>
                <td>26.</td>
                <td>Установка оборудования для автоматического освещения помещений в местах общего пользования</td>
                <td>1) Автоматическое регулирование
                    освещенности;<br>
                    2) Экономия электроэнергии
                </td>
                <td>Датчики
                    освещенности,
                    датчики движения
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    настройка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>27.</td>
                <td>Модернизация электродвигателей или замена на более энергоэффективные</td>
                <td>1) Более точное регулирование
                    параметров в системе отопления, ГВС и ХВС;<br>
                    2) Экономия электроэнергии
                </td>
                <td>Трехскоростные
                    электродвигатели;<br>
                    электродвигатели с
                    переменной
                    скоростью вращения
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    настройка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>28.</td>
                <td>Установка частотно-регулируемых приводов в лифтовом хозяйстве</td>
                <td>Экономия электроэнергии</td>
                <td>частотно-
                    регулируемых
                    приводов
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    настройка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td>29.</td>
                <td>Установка автоматических систем
                    включения (выключения) внутридомового освещения, реагирующих на движение (звук)
                </td>
                <td>Экономия электроэнергии</td>
                <td>Автоматические системы включения (выключения) внутридомового освещения,
                    реагирующие на движение (звук)
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр,
                    настройка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Дверные и оконные конструкции
                </td>
            </tr>
            <tr>
                <td>30.</td>
                <td>Установка теплоотражающих пленок на окна в подъездах</td>
                <td>1) Снижение потерь лучистой энергии через окна;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Теплоотражающая
                    пленка
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>31.</td>
                <td>Установка низкоэмиссионных стекол на окна в подъездах</td>
                <td>1) Снижение потерь лучистой энергии через окна;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Низкоэмиссионные
                    стекла
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>32.</td>
                <td>Замена оконных блоков</td>
                <td>1) Снижение инфильтрации через оконные блоки;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы окон
                </td>
                <td>Современные
                    пластиковые
                    стеклопакеты
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Стеновые конструкции
                </td>
            </tr>
            <tr>
                <td>33.</td>
                <td>Утепление потолка подвала</td>
                <td>1) Уменьшение охлаждения или
                    промерзания потолка технического подвала;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы строительных конструкций
                </td>
                <td>Тепло-, водо- и
                    пароизоляционные
                    материалы и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>34.</td>
                <td>Утепление пола чердака</td>
                <td>1) Уменьшение протечек, охлаждения или промерзания пола технического чердака;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы строительных конструкций
                </td>
                <td>Тепло-, водо- и
                    пароизоляционные
                    материалы и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>35.</td>
                <td>Утепление кровли</td>
                <td>1) Уменьшение протечек и промерзания чердачных
                    конструкций;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы чердачных конструкций
                </td>
                <td>Технологии утепления плоских крыш "По профнастилу" или "Инверсная кровля";<br>
                    Тепло-, водо- и пароизоляционные материалы и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата за
                    содержание и
                    ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>36.</td>
                <td>Заделка межпанельных и компенсационных швов</td>
                <td>1) Уменьшение сквозняков, протечек, промерзания, продувания, образования грибков;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы стеновых конструкций
                </td>
                <td>Технология "Теплый шов";<br>
                    Герметик, теплоизоляционные
                    прокладки, мастика и др.
                </td>
                <td>Энергосервис-
                    ная органи-
                    зация
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>37.</td>
                <td>Гидрофобизация стен</td>
                <td>1) Уменьшение намокания
                    и промерзания стен;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы стеновых конструкций
                </td>
                <td>Гидрофобизаторы на
                    кремнийорганичес-
                    кой или акриловой
                    основе
                </td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>38.</td>
                <td>Утепление наружных стен</td>
                <td>1) Уменьшение промерзания стен;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы стеновых конструкций
                </td>
                <td>Технология
                    "Вентилируемый фасад";<br> Реечные направляющие, изоляционные материалы, защитный слой, обшивка и др.
                </td>
                <td>Энергосервис-
                    ная организа-
                    ция
                </td>
                <td>плата за
                    содержание
                    и ремонт
                    жилого
                    помещения
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    III. Перечень мероприятий в отношении помещений индивидуального пользования в многоквартирном доме
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система горячего и холодного водоснабжения
                </td>
            </tr>
            <tr>
                <td>39.</td>
                <td>Ремонт унитазов или замена на экономичные модели</td>
                <td>1) Ликвидация утечек воды;<br>
                    2) Рациональное использование воды;<br>
                    3) Экономия потребления воды в системе ХВС
                </td>
                <td>Запчасти,
                    современные
                    экономичные модели
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>40.</td>
                <td>Ремонт смесителей и душевых головок или замена на экономичные модели</td>
                <td>1) Ликвидация утечек воды;<br>
                    2) Рациональное использование воды;<br>
                    3) Экономия потребления воды в системе ХВС
                </td>
                <td>Запчасти,
                    современные
                    экономичные модели
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система электроснабжения
                </td>
            </tr>
            <tr>
                <td>41.</td>
                <td>Замена ламп накаливания на энергоэффективные лампы</td>
                <td>1) Экономия электроэнергии;<br>
                    2) Улучшение качества освещения
                </td>
                <td>Люминесцентные
                    лампы,
                    светодиодные лампы
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, замена
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Система вентиляции
                </td>
            </tr>
            <tr>
                <td>42.</td>
                <td>Ремонт или установка
                    воздушных заслонок
                </td>
                <td>1) Ликвидация утечек тепла через систему вентиляции;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Воздушные заслонки
                    с регулированием
                    проходного сечения
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр,
                    регулировка,
                    ремонт
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Дверные и оконные конструкции
                </td>
            </tr>
            <tr>
                <td>43.</td>
                <td>Установка теплоотражающих пленок на окна</td>
                <td>1) Снижение потерь лучистой энергии через окна;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Теплоотражающая
                    пленка
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>44.</td>
                <td>Установка низкоэмиссионных стекол на окна</td>
                <td>1) Снижение потерь лучистой энергии через окна;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Низкоэмиссионные
                    стекла
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>45.</td>
                <td>Заделка и уплотнение оконных блоков</td>
                <td>1) Снижение инфильтрации через оконные блоки;<br>
                    2) Рациональное использование тепловой энергии
                </td>
                <td>Прокладки,
                    полиуретановая
                    пена и др.
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>46.</td>
                <td>Замена оконных и балконных блоков</td>
                <td>1) Снижение инфильтрации через
                    оконные и балконные блоки;<br>
                    2) Рациональное использование тепловой энергии;<br>
                    3) Увеличение срока службы окон и балконных дверей
                </td>
                <td>Современные
                    пластиковые
                    стеклопакеты
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр, ремонт
                </td>
            </tr>
            <tr>
                <td>47.</td>
                <td>Остекление балконов и
                    лоджий
                </td>
                <td>1) Снижение инфильтрации через
                    оконные и балконные блоки;<br>
                    2) Повышение термического
                    сопротивления оконных конструкций;<br>
                    3) Увеличение срока службы окон и балконных дверей
                </td>
                <td>Современные
                    пластиковые и
                    алюминиевые
                    конструкции
                </td>
                <td>Управляющая
                    организация
                </td>
                <td>плата по
                    отдельному
                    договору
                </td>
                <td>Периодический
                    осмотр,
                    очистка,
                    ремонт
                </td>
            </tr>
        </tbody>
    </table>
</div>
