<!-- Table -->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Размер</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @files }}" key="{{ @filename }}" value="{{ @filelink }}">
            <tr>
                <td class="col-xs-10"><a href="{{ @filelink }}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> {{ @filename }}</a></td>
                <td>{{ filesize_formatted(@filelink) }}</td>
            </tr>
        </repeat>
    </tbody>
</table>