<check if="{{ @PATH == '/house_meter_reading' }}">
    <!-- Default -->
    <repeat group="{{ @data }}" key="{{ @year }}" value="{{ @year_data }}">
        <!-- Table -->
        <table class="table table-hover">
            <caption>Показания общедомовых приборов учета<br><span class="label label-primary">{{ @year }}</span></caption>
            <thead>
                <tr>
                    <th>Месяц</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @year_data }}" key="{{ @month }}" value="{{ @links }}">
                    <tr>
                        <td class="col-xs-10">{{ @month }}</td>
                        <td>
                            <!-- Dropdown button -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-download-alt"></span> Скачать</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ @PATH . @links[0] }}">ХВС</a></li>
                                    <li><a href="{{ @PATH . @links[1] }}">ГВС</a></li>
                                    <li><a href="{{ @PATH . @links[2] }}">Эл. энергия</a></li>
                                    <li><a href="{{ @PATH . @links[3] }}">Теп. энергия</a></li>
                                </ul>
                            </div>   
                        </td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </repeat>

</check>

<check if="{{ @PATH == '/house_meter_reading/cold_water' }}">
    <!-- Cold water -->

    <p><a href="/house_meter_reading" class="btn btn-primary">Вернуться</a></p>
    
    <table class="table table-hover">
        <caption>Холодная вода<br><span class="label label-primary">{{ @GET['date'] }}</span></caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Адрес</th>
                <th>Расход предыдущего месяца, м<sup>3</sup></th>
                <th>Расход текущего месяца, м<sup>3</sup></th>
                <th>Отношение расходов, %</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @data }}" key="{{ @index }}" value="{{ @row }}">
                <tr>
                    <td>{{ @index + 1 }}</td>
                    <td>{{ @row[0] }}</td>
                    <td>{{ @row[1] }}</td>
                    <td>{{ @row[2] }}</td>
                    <td>{{ @row[3] }}</td>
                </tr>
            </repeat>
        </tbody>
    </table>
</check>

<check if="{{ @PATH == '/house_meter_reading/hot_water' }}">
    <!-- Hot water -->
    
</check>

<check if="{{ @PATH == '/house_meter_reading/electric_energy' }}">
    <!-- Electric energy -->
    
</check>

<check if="{{ @PATH == '/house_meter_reading/heat_energy' }}">
    <!-- Heat energy -->
    
</check>