<repeat group="{{ @data }}" key="{{ @year }}" value="{{ @year_data }}">
    <repeat group="{{ @year_data }}" key="{{ @month }}" value="{{ @filelinks }}">
        <!-- Table -->
        <table class="table table-hover">
            <caption>{{ @month }} {{ @year }}</caption>
            <thead>
                <th>Имя</th>
                <th>Размер</th>
            </thead>
            <tbody>
                <tr>
                    <td class="col-xs-10"><a href="{{ @filelinks[0] }}" target="_blank">ХВС</a>
                    <td>{{ filesize_formatted(@filelinks[0]) }}</td>
                </td>
                <tr>
                    <td class="col-xs-10"><a href="{{ @filelinks[1] }}" target="_blank">ГВС</a>
                    <td>{{ filesize_formatted(@filelinks[1]) }}</td>
                </td>
                <tr>
                    <td class="col-xs-10"><a href="{{ @filelinks[2] }}" target="_blank">Теп. энергия</a>
                    <td>{{ filesize_formatted(@filelinks[2]) }}</td>
                </td>
                <tr>
                    <td class="col-xs-10"><a href="{{ @filelinks[3] }}" target="_blank">Эл. энергия</a>
                    <td>{{ filesize_formatted(@filelinks[3]) }}</td>
                </tr>
            </tbody>
        </table>
    </repeat>
</repeat>