<!-- Button -->
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#out_of_service">Более не обслуживаются</button>
</p>

<!-- Search -->
<div class="form-group">
    <label for="search">Поиск</label>
    <input type="text" name="search" id="search_data" placeholder="Начните поиск..." class="form-control">
</div>

<!-- Table -->
<table class="table table-hover" id="data_list">
    <thead>
        <tr>
            <th>#</th>
            <th>Адрес</th>
            <th>ЭУ</th>
            <th>ДУ</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @data['in_service'] }}" key="{{ @id }}" value="{{ @house_data }}">
            <tr>
                <td>{{ @id + 1 }}</td>
                <td>{{ @house_data[0] }}</td>
                <td>{{ @house_data[1] }}</td>
                <td>{{ @house_data[2] }}</td>
            </tr>
        </repeat>
    </tbody>
</table>

<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="out_of_service">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <repeat group="{{ @data['out_of_service'] }}" key="{{ @year }}" value="{{ @year_data }}">
                    <table class="table table-hover">
                        <caption>Более не обслуживаются<br><span class="label label-primary">{{ @year }}</span></caption>
                        <thead>
                            <tr>
                                <th>Адрес</th>
                                <th>Примечание</th>
                            </tr>
                        </thead>
                        <tbody>
                            <repeat group="{{ @year_data }}" value="{{ @_house_data }}">
                                <tr>
                                    <td class="col-xs-8">{{ @_house_data[0] }}</td>
                                    <td>{{ @_house_data[1] }}</td>
                                </tr>
                            </repeat>
                        </tbody>
                    </table>
                </repeat>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
