<!-- Alert -->
<div class="alert alert-danger">
    <p><strong>Уважаемые жители!</strong> Обращаем Ваше внимание, что допуск к газовому оборудованию имеют только представители ООО «ПетербургГаз». Перед допуском, просим Вас проверять их документы и не допускать сторонние организации к газовому оборудованию.</p>
<!--     <p><button type="button" class="btn btn-primary" data-dismiss="alert">Скрыть</button></p> -->
</div>
<!-- Alert -->
<div class="alert alert-info">
    <p>У нас появилась официальная группа в VK!</p>
    <p><a href="https://vk.com/gks2kir" target="_blank"><span class="glyphicon glyphicon-link"></span> https://vk.com/gks2kir</a></p>
</div>
<!-- Welcome -->
<div>
    <p>
        ООО «ЖКС №2 Кировского района» существует уже более 10 лет. В управлении компании находятся 425 многоквартирных жилых домов, а это значит, что приоритетное направление в нашей деятельности – это работа с людьми. Мы всегда открыты для контактов с жителями. Приемные часы всех специалистов Вы сможете найти на сайте в разделе «Структура компании». Мы стремимся быть полезными и нужными, поэтому применяем индивидуальный подход к решению каждой проблемы, принимаем предложения по усовершенствованию нашей работы. Для нас важно, чтобы жители остались довольны нашей работой и получили реальную помощь, потому что наша цель – повысить уровень доверия во взаимоотношениях населения и Управляющей компании.
    </p>
    <p class="text-muted">
       С уважением, генеральный директор<br>
       Захаров Дмитрий Петрович
    </p>
</div>
<!-- Social -->
<div>
    <p><a href="https://vk.com/gks2kir" target="_blank" class="btn btn-vk"><span class="fa fa-vk"></span> ВКонтакте</a></p>
</div>

<hr>

<!--  -->
<div class="alert alert-info">
    <p>Установка индивидуальных приборов учета</p>
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#promo_1">Подробнее</button></p>
</div>
<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="promo_1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <strong>Установка индивидуальных приборов учета</strong><br>
                    ООО «ЖКС №2 Кировского района» напоминает, что в соответствии с Постановлением Правительства РФ от 16.04.2013 г. № 344 «О внесении изменений в некоторые акты Правительства Российской Федерации по вопросам предоставления коммунальных услуг» плата за коммунальные услуги по нормативам потребления (в квартирах, не оборудованных индивидуальными приборами учета ХВС, ГВС) с 01.01.2015 года будет рассчитываться с применением повышающих коэффициентов. Чтобы избежать увеличения Ваших расходов на оплату коммунальных услуг в условиях постоянного повышения тарифов необходимо установить индивидуальные приборы учёта холодного и горячего водоснабжения.
                </p>
                <p>
                    <strong>Внимание!</strong><br>
                    ООО «ЖКС №2 Кировского района» по льготному тарифу оказывает услугу по установке индивидуальных приборов учета ХВС и ГВС. Если Вы самостоятельно приобретёте счётчики ХВС и ГВС, внесенные в Государственный реестр средств измерения РФ, и необходимые комплектующие для установки, то наши квалифицированные специалисты установят и введут приборы в эксплуатацию. Льготная стоимость установки одного счетчика <strong>1550р</strong>. В стоимость включены: замена (при необходимости) участка стояка и замена отсекающего крана на стояке. На таких же условиях можно будет заменить счётчики с истекшим межповерочным интервалом.
                </p>
                <p>
                    По телефону горячей линии можно подать заявку на выход специалиста, который определит перечень требуемых материалов и даст рекомендации по их приобретению. После покупки материалов Вы оставляете заявку на установку приборов учета в удобное для Вас время по этому же телефону. Безусловным преимуществом установки приборов учета в нашей организации является гарантия на выполненные работы и отсутствие опасений за последствия возможных аварий из-за некачественно выполненных работ «по объявлению». Где Вы потом будете искать этих «установщиков»? Нас искать не нужно. Мы всегда рядом!
                </p>
                <p>
                    <strong><span class="glyphicon glyphicon-earphone"></span> Горячая линия - 708-91-10</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="alert alert-info">
    <p>Памятка по табличкам класса энергоэффективности на фасадах зданий</p>
    <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#promo_2">Подробнее</button></p>
</div>
<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="promo_2" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <strong>Уважаемые собственники!</strong><br>
                    С недавних пор на Ваших домах появились вот такие таблички
                    <img src="/doc/promo_2.jpeg" class="center-block img-rounded img-responsive">
                </p>
                <p>
                    <strong>Что это означает для собственников?</strong><br>
                    Управляющей компанией ООО «ЖКС №2 Кировского района» был проведен в течение 2016-2017 г. энергетический аудит здания.
                </p>
                <p>
                    Цель энергетического аудита - выявление потерь, нерационального использования топливно-энергетических ресурсов, а также планирование мероприятий по повышению уровня энергосбережения и энергетической эффективности здания. Конечной целью аудита являлось установление класса энергоэффективности здания.
                </p>
                <p>
                    Класс энергетической эффективности определяется исходя из фактических показателей удельного годового расхода тепловой энергии на отопление, вентиляцию и горячее водоснабжение, а также соответствия требованиям энергетической эффективности зданий, строений, сооружений.
                </p>
                <p>
                    Фактические расходы энергетических ресурсов сравниваются с базовыми или нормативными. Это и позволяет определить класс энергоэффективности.
                </p>
                <p>
                    <strong>Класс энергетической эффективности обозначается латинскими буквами:</strong>
                    <ul>
                        <li>A - Наивысший</li>
                        <li>B++ - Повышенный</li>
                        <li>B - Высокий</li>
                        <li>C - Нормальный</li>
                        <li>D - Пониженный</li>
                        <li>E - Низший</li>
                    </ul>
                </p>
                <p>
                    Жильцам указатель подскажет, какое количество энергии дом потребляет и сколько в конечном итоге придется платить за его эксплуатацию. Чем выше класс энергоэффективности, тем меньшим будет расход тепловой энергии в доме и тем выше стоимость квадратного метра общей площади.
                </p>
                <p>
                    <strong>Что полезно делать для повышения класса энергоэффективности?</strong><br>
                    Для того чтобы увеличить стоимость жилья и снизить затраты на коммунальную
                    составляющую, собственники совместно с управляющей компанией должны реализовывать
                    мероприятия по энергосбережению, а именно:
                    <ul>
                        <li>Снижать энергопотери путем установки окон и дверей из современных материалов в местах общего пользования</li>
                        <li>Следить за герметичностью фасада</li>
                        <li>Устанавливать датчики погодного регулирования теплоносителя</li>
                        <li>Устанавливать энергоэффективные световые приборы с датчиками движени</li>
                        <li>Осуществлять регулирование температурно-влажностного режима в местах прокладки инженерных сетей путем гидроизоляции современными материалами</li>
                    </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="alert alert-info">
    <p>Специальная линия «Нет коррупции!»</p>
    <p><a href="http://zakon.gov.spb.ru/hot_line/" target="_blank"><span class="glyphicon glyphicon-link"></span> http://zakon.gov.spb.ru/hot_line/</a></p>
</div>
<!--  -->
<div class="alert alert-info">
    <p><strong>Внимание собственникам помещений!</strong> Приостановка подачи газа в квартиры</p>
    <p><a href="/doc/uvedomlenie_vdgo.pdf" target="_blank" class="btn btn-primary">Подробнее</a></p>
</div>
<!--  -->
<div class="alert alert-info">
    <p>Узнайте год предстоящего капитального ремонта в своем доме</p>
    <p><a href="http://fkr-spb.ru/house" target="_blank"><span class="glyphicon glyphicon-link"></span> http://fkr-spb.ru/house</a></p>
</div>
<!-- Useful information -->
<ul>
    <li><a href="https://www.reformagkh.ru/" target="_blank">Реформа ЖКХ</a></li>
    <li><a href="http://gorod.gov.spb.ru/" target="_blank">Портал «Наш Санкт-Петербург»</a></li>
    <li><a href="http://проектшгп.рф/" target="_blank">Школа грамотного потребителя</a></li>
    <li><a href="/doc/pamyatka_polzovaniya_gazom.pdf" target="_blank">Памятка пользования газом</a></li>
    <li><a href="/doc/press-reliz_vdgo.pdf" target="_blank">Пресс-релиз о необходимости обеспечения доступа для планового обслуживания ВДГО и ВКГО</a></li>
    <li><a href="/doc/pamyatka_o_pravilah_ispolzovaniya_elektronagrevatelnih_priborov.pdf" target="_blank">Памятка о правилах использования электронагревательных приборов</a></li>
    <li><a href="/doc/hpmecuscgksq.pdf" target="_blank">Памятка для граждан и организаций по вопросам рассмотрения обращений органами прокуратуры</a></li>
</ul>

