<!-- Note -->
<div class="alert alert-info" type="alert">
    <strong>Прохорова Лариса Валентиновна</strong><br>
    Начальник отдела персонала<br>
    Телефон: 708-93-30 доб.4060<br>
    Адрес электронной почты: prohorova_larisa @ bk.ru<br>
</div>
<!-- Item -->
<p>
    <strong>Инженер-сметчик производственно-технического отдела</strong><br>
    Характер работы: постоянная<br>
    Заработная плата: 28800 рублей<br>
    Режим работы: 5-ти дневная рабочая неделя<br>
    Рабочий день: 8 часов<br>
    Стаж работы: от 2 лет<br>
    Социальный пакет
</p>
<!-- Item -->
<p>
    <strong>Начальник домоуправления</strong><br>
    Характер работы: постоянная<br>
    Заработная плата: 25000 рублей<br>
    Режим работы: 5-ти дневная рабочая неделя<br>
    Рабочий день: 8 часов<br>
    Стаж работы: от 5 лет<br>
    Социальный пакет
</p>
<!-- Item -->
<p>
    <strong>Кровельщик</strong><br>
    Характер работы: постоянная<br>
    Заработная плата: 30000 рублей<br>
    Режим работы: 5-ти дневная рабочая неделя<br>
    Рабочий день: 8 часов<br>
    Стаж работы: от 5 лет<br>
    Социальный пакет
</p>
