<repeat group="{{ @data }}" key="{{ @year }}" value="{{ @year_data }}">
    <!-- Table -->
    <table class="table table-hover">
        <caption>Показания общедомовых приборов учета<br><span class="label label-primary">{{ @year }}</span></caption>
        <thead>
            <tr>
                <th>Месяц</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @year_data }}" key="{{ @month }}" value="{{ @files }}">
                <tr>
                    <td class="col-xs-10">{{ @month }}</td>
                    <td>
                        <!-- Dropdown button -->
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-download-alt"></span> Скачать</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{{ @files[0] }}" target="_blank">ХВС</a></li>
                                <li><a href="{{ @files[1] }}" target="_blank">ГВС</a></li>
                                <li><a href="{{ @files[2] }}" target="_blank">Эл. энергия</a></li>
                                <li><a href="{{ @files[3] }}" target="_blank">Теп. энергия</a></li>
                            </ul>
                        </div>   
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>
</repeat>