<repeat group="{{ @data }}" key="{{ @dir }}" value="{{ @files }}">
    <table class="table table-hover">
        <caption>{{ @dir }}</caption>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Размер</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @files }}" value="{{ @file }}">
                <tr>
                    <td class="col-xs-10"><a href="{{ @file }}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> {{ basename(@file) }}</a></td>
                    <td>{{ filesize_formatted(@file) }}</td>
                </tr>
            </repeat>
        </tbody>
    </table>      
</repeat>