<repeat group="{{ @data }}" key="{{ @division}}" value="{{ @rows }}">
    <h2>{{ @division }}</h2>
    <repeat group="{{ @rows }}" value="{{ @row }}">
        <div class="row">
            <repeat group="{{ @row }}" value="{{ @employee }}">
                <div class="col-xs-8 col-xscol-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="holder.js/200x150" alt="photo">
                        <div class="caption">
                            <h4>{{ @employee['fullname'] }}</h4>
                            <p>
                                {{ @employee['position'] }}<br>
                                Телефон: {{ @employee['phone'] }}<br>
                                Адрес: {{ @employee['location'] }}<br>
                                <check if="{{ @employee['reception_hours'] }}">
                                    Часы приема: {{ @employee['reception_hours'] }}
                                </check>
                            </p>
                        </div>
                    </div>
                </div>
            </repeat>
        </div>
    </repeat>
</repeat>