<!-- Note -->
<div class="alert alert-info" role="alert">
    <p>Подробную информацию касательно тарифов, вы можете получить на сайте комитета по тарифам Санкт-Петербурга</p>
    <p><a href="http://tarifspb.ru/documents/acts/" target="_blank"><span class="glyphicon glyphicon-link"></span> http://tarifspb.ru/documents/acts/</a></p>
</div>
<!-- Table -->
<table class="table table-hover">
    <tbody>
        <repeat group="{{ @files }}" value="{{ @file }}">
            <tr>
                <td>{{ @file['filename'] }}</td>
                <td class="col-xs-2"><a href="{{ @file['link'] }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Скачать</a></td>
            </tr>
        </repeat>
    </tbody>
</table>
