<!-- Form -->
<form method="post" action="/reception" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="firstname">Имя *</label>
                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Ваше имя" autocomplete="given-name">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="lastname">Фамилия *</label>
                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Ваша фамилия" autocomplete="family-name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="address">Адрес *</label>
                <input type="text" name="address" class="form-control" id="address" placeholder="Ваш адрес" autocomplete="street-address">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="phone">Телефон *</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш номер телефона" autocomplete="tel-national">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="email">Email *</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Ваш email адрес" autocomplete="email">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Field -->
            <div class="form-group">
                <label class="control-label" for="subject">Тема сообщения *</label>
                <select name="subject" class="form-control" id="subject">
                    <option value="" disabled selected hidden> </option>
                    <option value="1">Обращение</option>
                    <option value="2">Пожелание</option>
                    <option value="3">Заявление</option>
                    <option value="4">Благодарность</option>
                    <option value="5">Претензия</option>
                    <option value="6">Жалоба</option>
                    <option value="7">Другое</option>
                </select>
            </div>
        </div>
    </div>
    <!-- Field -->
    <div class="form-group">
        <label  class="control-label" for="body">Текст сообщения *</label>
        <textarea name="body" class="form-control" id="body" rows="3" placeholder="Текст сообщения"></textarea>
    </div>
    <!-- Upload file -->
    <div class="form-group">
        <label class="control-label" for="attachment">Прикрепить файл (до 5Мб)</label>
        <input type="file" name="attachment" accept=".jpg, .png, .pdf" id="attachment">
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary" id="submit">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Отправить
    </button>
    <p class="small">* Поля обязательные для заполнения</p>
</form>
<!-- Modal dialog -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Вы успешно отправили сообщение!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>