<h1>Интернет приемная</h1>
<form method="post" action="/reception">
    <!-- Field -->
    <div class="form-group">
        <input type="text" name="fullname" class="form-control" id="fullname" placeholder="ФИО" required>
    </div>
    <!-- Field -->
    <div class="form-group">
        <input type="text" name="address" class="form-control" id="address" placeholder="Ваш адрес" required>
    </div>
    <!-- Field -->
    <div class="form-group">
        <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш номер телефона" required>
    </div>
    <!-- Field -->
    <div class="form-group">
        <input type="email" name="email" class="form-control" id="email" placeholder="E-mail адрес" required>
    </div>
    <!-- Field -->
    <div class="form-group">
        <select name="subject" class="form-control" id="subject" required>
            <option value="" disabled selected hidden>Выберите тему</option>
            <option value="1">Обращение</option>
            <option value="2">Пожелание</option>
            <option value="3">Заявление</option>
            <option value="4">Благодарность</option>
            <option value="5">Претензия</option>
            <option value="6">Жалоба</option>
            <option value="7">Другое</option>
        </select>
    </div>
    <!-- Field -->
    <div class="form-group">
        <textarea name="body" class="form-control" id="body" rows="3" placeholder="Введите текст сообщения" required></textarea>
    </div>
    <!-- Field -->
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Выберите файл
            </span>
            <input type="file" name="attachment" class="hidden">
        </label>
        <input type="text" class="form-control" id="file-info" placeholder="Файл не выбран" readonly>
    </div>
    <!-- Button -->
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Отправить
    </button>
</form>