<repeat group="{{ @data }}" key="{{ @year }}" value="{{ @year_data }}">
    <!-- Table -->
    <table class="table table-hover">
        <caption>{{ @year }}</caption>
        <tbody>
            <repeat group="{{ @year_data }}" key="{{ @filename }}" value="{{ @link }}">
                <tr>
                    <td>{{ @filename }}</td>
                    <td class="col-xs-2"><a href="{{ @link }}" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Скачать</a></td>
                </tr>
            </repeat>
        </tbody>
    </table>
</repeat>