<!-- Item -->
<p>
    <strong>Основной офис и эксплуатационные участки</strong><br>
    Понедельник - 09:00-18:00, обед 13:00-14:00<br>
    Вторник - 09:00-18:00, обед 13:00-14:00<br>
    Среда - 09:00-18:00, обед 13:00-14:00<br>
    Четверг - 09:00-18:00, обед 13:00-14:00<br>
    Пятница - 09:00-16:45, обед 13:00-14:00<br>
    Суббота - выходной день<br>
    Воскресенье - выходной день
</p>
<!-- Item -->
<p>
    <strong>Бухгалтерия квартирной группы</strong><br>
    Бухгалтерия квартирной группы<br>
    Понедельник - 16:00-19:00<br>
    Вторник - 09:00-12:00<br>
    Среда - 16:00-19:00<br>
    Четверг - 16:00-19:00<br>
    Пятница - 09:00-12:00<br>
    Суббота - выходной день<br>
    Воскресенье - выходной день
</p>
<!-- Item -->
<p>
    <strong>Аварийно-диспетчерская служба</strong><br>
    Круглосуточно
</p>
<!-- Button -->
<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#reception_hours">
        <span class="glyphicon glyphicon-time"></span> Часы приема
    </button>
</p>
<!-- Modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="reception_hours">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <strong>Генеральный директор</strong><br>
                    Понедельник 17:00-19:00<br>
                    Четверг 10:00-12:00
                </p>
                <p>
                    <strong>Заместитель генерального директора (главный инженер)</strong><br>
                    Вторник 10:00-12:00<br>
                    Среда 17:00-19:00
                </p>
                <p>
                    <strong>Заместитель генерального директора по санитарному содержанию и благоустройству</strong><br>
                    Вторник 10:00-12:00<br>
                    Среда 17:00-19:00
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>